extends ../shared/template

block content
  h1 #{songs[0].artist.name}

  #meta
    img(src='/img/artists/#{songs[0].artist.photo}', class='metaPhoto')

  table#songs
    each song in songs
      tr.song
        td.songName #{song.name}
        td.audio
          audio(src="#{song.file}", controls=true)
