extends ../shared/template

block content
  h1 Song List

  #form.songform
    h2 Add A Song
    form(method='POST', action='/songs', enctype='multipart/form-data')
      table
        tbody
          tr
            td Song name:
            td
              input(type='text', name='name', placeholder='Song name', autofocus=true)
          tr
            td Artist:
            td
              select(name='artistId')
                each artist in artists
                  option(value=artist._id) #{artist.name}
          tr
            td Album:
            td
              select(name='albumId')
                each album in albums
                  option(value=album._id) #{album.name}
          tr
            td Genres:
            td
              input(type='text', name='genres', placeholder='Genres, separated by commas')
          tr
            td Upload song:
            td
              input(type='file', name='file')
      button Add

  table#songs
      each song in songs
        tr.song
          td #{song.name}
          td
            audio(src="#{song.file}", controls=true)

  //- #genres
  //-   ul
  //-     each genre in genres
  //-       li: a(href='#') yo
