extends ../shared/template

block content
  h1 Song List

  #form
    form(method='POST', action='/songs', enctype='multipart/form-data')
      input(type='text', name='name', placeholder='Song name', autofocus=true)
      select(name='artistId')
        each artist in artists
          option(value=artist._id) #{artist.name}
      select(name='albumId')
        each album in albums
          option(value=album._id) #{album.name}
      input(type='text', name='genres', placeholder='Genres, separated by commas')
      input(type='file', name='file')

      button Add

  #songs
    table
      each song in songs
        tr.song
          td #{song.name}
          td
            audio(src="#{song.file}", controls=true)

  //- #genres
  //-   ul
  //-     each genre in genres
  //-       li: a(href='#') yo
